.ios, .md {
    page-bike-detail {
    
        .bikeImg {
            vertical-align: top;
            width: 100%;
        }

        .scroll-content {
            padding:0px;
        }

        .card-md {
            margin:0px;
            width:100%;
        }

        .overlay-btnLeft {
            position:absolute;
            left:10px;
            top:10px;
            z-index:1;
        }

        .overlay-btnRight {
            position:absolute;
            right:10px;
            top:10px;
            z-index:1;
        }

        .overlay-btnRight2nd {
            position:absolute;
            z-index:1;
            top:10px;
            right:10px+55px;
        }

        .center {
            text-align:center;
        }

    }
}
